@model Sistemas_de_Vendas.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CategoryID" class="btn btn-dark mt-3">Editar</a>
    <a asp-action="Index" class="btn btn-light mt-3">Voltar a Lista</a>
</div>
